<div (click)="$event.stopPropagation()" class="forgotWrapper">
	<h1>Forgot Password</h1>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<mat-form-field class="formGroupInput">
				<input matInput placeholder="Email" id="email" formControlName="email"  autocomplete="off" >
			</mat-form-field>
			<p *ngIf="(error.email !='')" class="form-error">{{ error.email }}</p>
		</div>
		<div class="btn-wrapper">
			<button type="submit" class="btn" id="sendLink">Send reset link</button>
			<p *ngIf="(message != '')" class="message">{{ message }}</p>
		</div>
	</form>
</div>