
h2
	color: purple
	text-transform: uppercase
	margin-block-start: .5em
	margin-block-end: .3em
	padding: 0 1vw

p.description
	display: none

@media screen and (min-width: 1024px)
	p.description
		display: flex
		align-items: center
		color: #888
		font-size: 1em
		margin-block-start: 10px
		margin-block-end: 10px
		padding: 0 10px

	h2
		margin-block-start: 10px
		margin-block-end: 10px
