<form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
	<div class="form-group">
		<mat-form-field class="filter-full-width">
			<mat-label>Email</mat-label>
			<input matInput placeholder="Email..." id="email" formControlName="email" autocomplete="off">
		</mat-form-field>
		<p *ngIf="(error.email !='')" class="form-error">{{ error.email }}</p>
	</div>
	<div class="form-group">
		<mat-form-field class="filter-full-width">
			<mat-label>Password</mat-label>
			<input type="password" matInput placeholder="Password..." id="password" formControlName="password" autocomplete="off">
		</mat-form-field>
		<p *ngIf="(error.password !='')" class="form-error">{{ error.password }}</p>
	</div>
	<div class="btn-wrapper">
		<a class="btn" type="submit" (click)="onSubmit(); $event.stopPropagation();">
			<i class="material-icons">check_circle</i>
		</a>
		<!-- <button (click)="signup(); $event.stopPropagation();" class="btn" id="signup">Sign up</button> -->
		<span class="emptyFlexSpace"></span>
		<a class="btn" id="forgot" (click)="forgot(); $event.stopPropagation();" >
			<i class="material-icons">contact_support</i>
		</a>
		<p *ngIf="(message != '')" class="message">{{ message }}</p>
	</div>
	<div *ngIf="loading" class="loaderWrapper">
		<mat-spinner></mat-spinner>
	</div>
</form>
