:host
	padding-top: 90px

h1
	text-transform: uppercase
	font-size: 1.75em
	color: purple
	padding: 1vw 0 0

h2
	font-style: italic
	color: green
	padding: 0 0 1vw
	font-size: 1.25em

.imageWrapper
	width: 94vw
	height: auto
	max-width: 925px
	margin: auto

	img
		width: 100%
		height: 100%

.info
	.recipeFooter
		display: flex
		align-items: center
		margin: 2.5em 0
		height: 2em

@media screen and (min-width: 1024px)
	.content
		display: flex
		align-items: top
	
		.imageWrapper
			width: 400px
			height: 100%
			min-width: 400px
			max-width: 400px
			margin: 0

		.info
			padding-left: 3vw
			flex-grow: 1

@media print
	.content
		display: flex
		align-items: top
	
		.imageWrapper
			width: 400px
			height: 100%
			min-width: 400px
			max-width: 400px
			margin: 0

		.info
			padding-left: 3vw
			flex-grow: 1

	share-buttons, app-admin-controls, app-views
		display: none