<h1 *ngIf="detail">{{detail.title}}</h1>
<h2 *ngIf="detail">{{detail.description}}</h2>
<div class="content">
	<div class="imageWrapper">
		<img alt="{{detail.title}}" title="{{detail.title}}"  *ngIf="detail" [src]="(fileFixedUrl + detail.imageUrl) || '/assets/pfLoader.gif'" />
	</div>
	<div *ngIf="detail" class="info">
		<app-views *ngIf="detail.views && _user.isLoggedIn()" [views]="detail.views"></app-views>
		<app-kind-description [detail]="detail"></app-kind-description>
		<app-ingredients *ngIf="ingredientArray" [ingredientArray]="ingredientArray"></app-ingredients>
	</div>
</div>
<app-recipe *ngIf="detail && detail.recipe" [recipe]="detail.recipe"></app-recipe>
<div *ngIf="detail" class="recipeFooter">
	<app-date *ngIf="detail.created_at" [date]="detail.created_at"></app-date>
	<div class="emptyFlexSpace"></div>
	<share-buttons [theme]="'material-dark'"
		 [include]="['copy']"
		 [show]=""
		 [size]="1"
		 [url]="router.url"
		 [image] ="'https://www.eduforbetterment.com/wp-content/uploads/2020/08/qrcode.jpg'"
		 [autoSetMeta]="false"
	></share-buttons>
</div>
<app-admin-controls *ngIf="detail && detail.id && _user.isLoggedIn()" [idPost]="detail.id"></app-admin-controls>