<mat-form-field class="filter-full-width" (click)="$event.stopPropagation()">
	<mat-label>Buscar</mat-label>
	<input class="searchInput" matInput placeholder="Buscar..." [formControl]="input" (keyup)="onTypingSearch()">
</mat-form-field>
