<ul class="foodTypes">
	<li class="foodType" *ngFor="let kind of currentKinds">
		<div>
			<i class="material-icons">check_circle</i>
		</div>
		<div>
			<span class="name">{{ kind.name }}</span>
			<span class="desc">{{ kind.desc }}</span>
		</div>
	</li>
</ul>