<h1>404 PAGE NOT FOUND</h1>
<h2>No existe contenido para este enlace</h2>
	<div class="content">
	<div class="imageWrapper">
		<img alt="404 - PAGE NOT FOUND" title="404 - PAGE NOT FOUND" [src]="'/assets/404.jpg'" />
	</div>
	<div class="info">
		<app-logo></app-logo>
	</div>
</div>