<div class="btnWrapper">
	<a class="btn installBtn" *ngIf="_pwa.promptEvent && !_pwa.appInstalled" (click)="installPwa()">
  		INSTALA LA APP
	</a>
</div>
<div class="linkWrapper">
	<h1 class="streamTitle" *ngIf="showHashtagName">
		#{{_search.hashtag.name}}
	</h1>
	<span class="streamTitle" *ngIf="count > 0">
		{{ count }} recetas
	</span>
	<div class="emptyFlexSpace"></div>
	<share-buttons [theme]="'material-dark'"
	 [include]="['copy']"
	 [show]=""
	 [size]="1"
	 [url]="router.url"
	 [image] ="'https://www.eduforbetterment.com/wp-content/uploads/2020/08/qrcode.jpg'"
	 [autoSetMeta]="false"
	></share-buttons>
</div>
<app-post-stream></app-post-stream>
