.reset
	width: 94vw
	margin: 0 3vw 20px
	max-width: 925px

.linkWrapper
	margin: .25em auto .25em
	color: #495	
	display: flex
	align-items: center
	font-size: 1.25em

h1.streamTitle
	color: #495
	margin-right: .5em
		
.btnWrapper
	display: flex
	align-items: center
	margin: .5em auto
	width: 96vw
	text-align: center
	position: fixed
	left: 3vw
	bottom: 0
	z-index: 99
	
	.installBtn
		display: flex
		align-items: center
		margin: auto

@media screen and (min-width: 1024px)
	h1.streamTitle
		font-size: 1.2em

	.linkWrapper
		margin: .5em auto .75em
