<mat-form-field>
  <mat-label>Propriedades del plato</mat-label>
  <mat-select id="kindsSelect" [formControl]="checkedOptions" multiple>
    <mat-option id="{{kindName}}" *ngFor="let kindName of kindNames" [value]="kindName" (click)="coherence(kindName)">
    	<span class="kindNameTitle">{{kinds[kindName].name}}</span>
    	&nbsp;
    	<span class="kindNameSubtitle">{{kinds[kindName].desc}}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
