.chunk
	width: 93vw !important
	max-width: 925px
	display: flex
	flex-direction: column
	margin-bottom: 1.5em

	.postWrapper
		app-post
			position: relative

@media screen and (min-width: 1024px)
	.chunk
		width: 93vw !important
		max-width: 925px
		display: grid
		grid-template-columns: auto auto auto
		grid-gap: 2vw

		.postWrapper
			app-post
				position: relative