<div (click)="$event.stopPropagation()" class="resetWrapper">
	<h1>Reset the password</h1>
	<form *ngIf="showForm" [formGroup]="form" (ngSubmit)="onSubmit()">
		<input type="hidden" id="login_username" formControlName="email">
		<input type="hidden" id="token" formControlName="token">
		<div class="form-group">
			<mat-form-field class="formGroupInput">
				<input type="password" matInput placeholder="Password" id="login_password" formControlName="password" autocomplete="off" >
			</mat-form-field>
			<p *ngIf="(error.password !='')" class="form-error">{{ error.password }}</p>
		</div>
		<div class="form-group">
			<mat-form-field class="formGroupInput">
				<input type="password" matInput placeholder="Password Confirmation" id="password_confirmation" formControlName="password_confirmation" autocomplete="off" >
			</mat-form-field>
			<p *ngIf="(error.password_confirmation !='')" class="form-error">{{ error.password_confirmation }}</p>
		</div>
		<div class="btn-wrapper">
			<button *ngIf="!resetDone" type="submit" class="btn" id="reset">Reset Password</button>
			<button *ngIf="resetDone" class="btn" (click)="router.navigate(['login'])" id="goToLogin">Login</button>
			<p *ngIf="(message != '')" class="message">{{ message }}</p>
		</div>
	</form>
</div>