cdk-virtual-scroll-viewport
	height: 80vh
	list-style: none
	padding: 3vw
	max-width: 925px
	overflow-x: hidden
	margin: auto

::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper
	min-width: auto !important

::ng-deep .cdk-virtual-scroll-content-wrapper li 
	padding-bottom: 52px

a
	display: flex
	align-items: center
	color: green

@media screen and (min-width: 1024px)
	cdk-virtual-scroll-viewport
		width: auto

	::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper
		min-width: 93vw !important
		max-width: 900px !important

	::ng-deep .cdk-virtual-scroll-content-wrapper li
		padding-bottom: 52px
		width: 100% !important

		.chunk
			width: 93vw !important
			max-width: 925px
			display: flex
			align-items: center
			justify-content: space-between


			.postWrapper
				app-post
					position: relative
