<a *ngIf="dataSource.cachedChunks.length < 1" (click)="_search.reset()">
	<i class="material-icons">loop</i>No hay resultados, refrescar?
</a>
<cdk-virtual-scroll-viewport *ngIf="dataSource" itemSize="{{itemSize}}">
	<li *cdkVirtualFor="let chunk of dataSource">
		<div class="chunk">
			<div class="postWrapper" id="post_{{post.id}}" *ngFor="let post of chunk">
				<app-post *ngIf="post" [post]="post"></app-post>
			</div>
		</div>
	</li>
</cdk-virtual-scroll-viewport>