.headerWrapper
	width: 100%
	height: 90px
	position: fixed
	margin: 0
	background-color: inherit
	z-index: 10
	top: 0
	left: 0

	.header
		display: flex
		align-items: center
		height: 90px
		width: 94vw
		max-width: 925px
		background-color: inherit
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

		app-logo
			width: 30vw
			max-width: 140px

		i
			min-width: 40px
			color: green

		.linkWrapper
			margin: 0 auto .75em
			color: #495	
			display: flex
			align-items: center
			font-size: 1.25em

		h1.streamTitle
			margin: .25em auto
			text-align: center
			font-size: 1.2em
			color: #495
			width: 100%
			

main
	padding-top: 100px

.footer
	width: auto
	position: fixed
	right: 0
	bottom: 0
	display: flex
	align-items: center
	padding: .25em 0 0 .2em

	span
		color: #888
		font-size: .6em

		&.devBy
			white-space: nowrap

	img
		height: .8em
		width: auto
		margin: 0 .2em

	&.whiteBg
		background-image: linear-gradient(to top left, rgba(255,255,255,0.25), rgba(255,255,255,1))

	&.blackBg
		background-image: linear-gradient(to top left, rgba(0,0,0,0.25), rgba(0,0,0,1))
