<div class="headerWrapper">
	<div class="header">
		<app-logo></app-logo>
		<div class="emptyFlexSpace"></div>
		<app-menu></app-menu>
	</div>
</div>
<main [@routeAnimations]="prepareRoute(outlet)" class="content" >
	<router-outlet #outlet="outlet"></router-outlet>
</main>
<a class="footer {{bgColor}}" (click)="trackLcClick()" href="https://letscode.es" target="_blank">
	<span class="emptyFlexSpace"></span>
	<span class="devBy">Developed by</span>
	<img src="/assets/lc.png" />
</a>
