<div class="btn-wrapper">
	<a class="btn" [routerLink]="'/edit/' + idPost">
		<i class="material-icons">create</i>
	</a>
	<span class="emptyFlexSpace"></span>
	<a class="btn" (click)="delete()">
		<i class="material-icons">delete</i>
	</a>
</div>
