<div class="uploadWrapper">
    <!-- <mat-card>   -->
    <!-- <mat-card-content>   -->
        <ul>  
            <li *ngFor="let file of files">  
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                <span id="file-label">  
                      
                </span>  
            </li>  
        </ul>  
    <!-- </mat-card-content>   -->
    <!-- <mat-card-actions>   -->
        <a class="btn" (click)="onClick()">  
            <i class="material-icons">backup</i>
        </a> 
    <!-- </mat-card-actions>   -->
<!-- </mat-card> -->
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
</div>