a
	color: #495
	font-size: 1em
	padding: 0
	margin: 0
	position: relative
	padding-left: 1.2em
	display: flex
	align-items: center
	text-decoration: none !important

ul
	list-style: none

i
	margin: 0

li
	margin: .5em 0

	a
		font-weight: bold

		.quantity
			background: purple
			border-radius: 50%
			height: 30px
			width: 30px
			position: relative
			margin: .2em

			div
				color: white
				position: absolute
				text-align: center
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				font-weight: bold