<mat-form-field class="filter-full-width" (click)="$event.stopPropagation()">
	<mat-label>Buscar hashtags</mat-label>
	<input class="searchInput" matInput placeholder="Buscar..." [formControl]="input" (keyup)="searchHashtags()">
</mat-form-field>
<ul>
	<li *ngFor="let hashtag of matchingHashtags">
		<a (click)="trackHashtagClick(hashtag.name)" [routerLink]="'/hashtag/' + hashtag.name">
			<div class="quantity" ><div>{{ hashtag.quantity }}</div></div>
			#{{ hashtag.name }}
		</a>
	</li>
</ul>