<form [formGroup]="form">
	<div class="form-group">
		<mat-form-field class="filter-full-width">
			<mat-label>Title</mat-label>
			<input matInput placeholder="Title..." id="title" formControlName="title" autocomplete="off">
		</mat-form-field>
		<p *ngIf="(error.title !='')" class="form-error">{{ error.title }}</p>
	</div>
	<div class="form-group">
		<mat-form-field class="filter-full-width">
			<mat-label>Description</mat-label>
			<input matInput placeholder="Description..." id="description" formControlName="description" autocomplete="off">
		</mat-form-field>
		<p *ngIf="(error.description !='')" class="form-error">{{ error.description }}</p>
	</div>
	<app-upload-image></app-upload-image>
	<div class="imageWrapper">
		<img *ngIf="dish.imageUrl" [src]="(fileFixedUrl + dish.imageUrl)" />
	</div>
	<div class="form-group">
		<mat-form-field>
		  <mat-label>Kind of dish</mat-label>
		  <mat-select id="kindsSelect" [formControl]="checkedOptions" multiple>
		    <mat-option id="{{kindName}}" *ngFor="let kindName of kindNames" [value]="kindName" (click)="coherence(kindName)">
		    	<span class="kindNameTitle">{{kinds[kindName].name}}</span>
		    	&nbsp;
		    	<span class="kindNameSubtitle">{{kinds[kindName].desc}}</span>
		    </mat-option>
		  </mat-select>
		</mat-form-field>
	</div>
	<div class="form-group">
		<mat-form-field class="ingredientField">
		  	<mat-chip-list #chipList>
			    <mat-chip *ngFor="let ingredient of ingredients"
			             [removable]="removable" [selectable]="selectable" (remove)="remove(ingredient)">
		      		{{ingredient.name}}
			      	<mat-icon matChipRemove (click)="remove(ingredient)" *ngIf="removable">cancel</mat-icon>
			    </mat-chip>
		    	<input matInput id="chipListInput" #hash 
		    		[formControl]="ingredientsCtrl" 
		    		class="ingredientInput" placeholder="Ingredients and #hashtags comma separated"
		           [matChipInputFor]="chipList"
		           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
		           (matChipInputTokenEnd)="add($event)"
		           (keyup)="searchHashtags(hash.value)" [matAutocomplete]="auto">
		    </mat-chip-list>
       		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
				<mat-option *ngFor="let hashtag of matchingHashtags" [value]="hashtag">
					<div class="hashtagCounter">
						<div>
							{{ hashtag.quantity }}
						</div>
					</div> #{{hashtag.name}}
				</mat-option>
	   	 	</mat-autocomplete>
		</mat-form-field>
	</div>
	<div class="form-group">
		<mat-form-field class="filter-full-width">
			<mat-label>Recipe</mat-label>
		  <textarea id="recipe" matInput placeholder="Recipe..." matTextareaAutosize matAutosizeMinRows="5"
		            matAutosizeMaxRows="12" formControlName="recipe"></textarea>
		</mat-form-field>
		<p *ngIf="(error.recipe !='')" class="form-error">{{ error.recipe }}</p>
	</div>
	<div *ngIf="!loading" class="btn-wrapper">
		<a class="btn" type="submit" (click)="onSubmit()">
			<i class="material-icons">check_circle</i>
		</a>
		<span class="emptyFlexSpace"></span>
		<p *ngIf="(message && message != '')" class="message">{{ message }}</p>
	</div>
	<div *ngIf="loading" class="loaderWrapper">
		<mat-spinner></mat-spinner>
	</div>
</form>