.kindNameTitle
	font-size: 1.2em
	color: green

.kindNameSubtitle
	color: #888
	font-size: .75em


.btn-wrapper
	display: flex
	margin: 2em 0

.btn
	margin: .5em 0

.hashtagCounter
	color: #888
	background: purple
	border-radius: 50%
	height: 30px
	width: 30px
	text-align: center
	vertical-align: middle
	position: relative
	min-width: 30px
	margin-right: .25em

.hashtagCounter > div
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

::ng-deep .mat-option-text
	display: flex !important
	align-items: center

::ng-deep .mat-form-field
	width: 100%
	padding: 0

.imageWrapper
	width: 94vw
	height: auto
	max-width: 75vh
	margin: auto

	img
		width: 100%
		height: 100%
