/**
 * @license
 * MyFonts Webfont Build ID 3398290, 2017-05-30T14:03:57-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FuturaStd-Medium by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/futura/medium/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 2002 Adobe Systems Incorporated.  All Rights Reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3398290
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/33da92");

  
@font-face {font-family: 'FuturaStd-Medium';src: url('webfonts/33DA92_0_0.eot');src: url('webfonts/33DA92_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33DA92_0_0.woff2') format('woff2'),url('webfonts/33DA92_0_0.woff') format('woff'),url('webfonts/33DA92_0_0.ttf') format('truetype');}
 