ul
	li
		width: 100%
		display: flex
		align-items: center
		height: 24px
		margin: .25em 0

		div
			i.hashtagIcon
				color: green

			span.name 
				text-transform: uppercase
				margin: 0 .5em 0 .2em

			span.desc
				font-style: italic
				font-size: .85em