<h3>Ingredientes y #hashtags</h3>
<ul>
	<li *ngFor="let ingredient of ingredientArray">
		<div>
			<i *ngIf="ingredient.name.substr(0, 1) != '#'" class="material-icons">eco</i>
			<i *ngIf="ingredient.name.substr(0, 1) == '#'" class="material-icons hashtagIcon">forward</i>
		</div>
		<div>
			<a class="link" (click)="_search.goToHashtag(ingredient.name.substr(1))" *ngIf="ingredient.name.substr(0, 1) == '#'">{{ingredient.name}}</a>
			<span *ngIf="ingredient.name.substr(0, 1) != '#'">{{ingredient.name}}</span>
		</div>
	</li>
</ul>
