@import '~ngx-sharebuttons/themes/material/material-dark-theme'

*
	font-family: FuturaStd-Medium, sans-serif
	font-size: 16px
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important

@media screen and (max-width: 480px)
	*
		font-size: 18px
	.onlyMobile
		display: block

html, body
	color: #888

body
	max-width: 925px
	width: 94vw
	margin: auto
	background-color: black

app-root
	background-color: inherit


main
	position: relative

.clearfix
	width: 100%
	clear: both

.emptyFlexSpace
	flex-grow: 1

.FuturaStd-Medium
	font-family: FuturaStd-Medium
	font-weight: normal
	font-style: normal

@media print
	.no-print, .no-print *
		display: none !important

ul
	margin-block-start: 0
	margin-block-end: 0
	margin-inline-start: 0
	margin-inline-end: 0
	padding-inline-start: 0
	list-style: none

.onlyMobile
	display: none

.separator
	width: 94vw
	height: 1px
	margin: 1vw 3vw
	border-bottom: 1px solid purple

.link
	color: green
	cursor: pointer

h3
	text-transform: uppercase
	color: purple
	font-size: 1.4em
	margin: 6vw 0 .75vw

a:-webkit-any-link
	color: green
	text-decoration: none

.btn
	background-color: purple
	color: white
	padding: .25em 2em
	position: relative
	min-height: 1.6em
	min-width: 2.4em
	cursor: pointer

	i, span 
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

.loaderWrapper
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)