#smMenu
	color: green
	text-align: right

::ng-deep .mat-form-field
	width: calc(100% - 6vw)
	padding: 0 3vw

::ng-deep .mat-menu-item 
		display: flex !important
		align-items: center !important
		color: white !important

		i, svg
			margin-right: .2em