<div id="smMenu" class="no-print">
	<mat-menu #rootMenu="matMenu">
		<a mat-menu-item target="_blank"
		 href="https://paypal.me/prezzemolofresco">
			<i class="material-icons">monetization_on</i>Donación
		</a>
		<a mat-menu-item *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive">
			<i class="material-icons">{{ link.icon }}</i>{{ link.label }}
		</a>
		<!-- <a mat-menu-item target="_blank"
		 href="https://www.instagram.com/prezzemolofresco/">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="24px" height="24px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3z" fill="#fff"/></svg> Instagram
		</a> -->
		<!-- <a mat-menu-item target="_blank"
		href="https://www.facebook.com/Prezzemolo-Fresco-Recipes-1904628306499795">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="24px" height="24px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-32 736H663.9V602.2h104l15.6-120.7H663.9v-77.1c0-35 9.7-58.8 59.8-58.8h63.9v-108c-11.1-1.5-49-4.8-93.2-4.8c-92.2 0-155.3 56.3-155.3 159.6v89H434.9v120.7h104.3V848H176V176h672v672z" fill="#fff"/></svg> Facebook
		</a> -->
	</mat-menu>
	
	<mat-menu #searchMenu="matMenu">
		<app-filter></app-filter>
		<!-- <app-kind-selector></app-kind-selector>		 -->
	</mat-menu>
	<mat-menu (click)="$event.stopPropagation()" #adminMenu="matMenu">
		<a mat-menu-item *ngFor="let link of adminLinks" (click)="link.label === 'Log out' ? _user.logout() : ''" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive">
			<i class="material-icons">{{ link.icon }}</i>{{ link.label }}
		</a>
	</mat-menu>
	<button mat-icon-button (click)="_custom.toggleBgColor()">
		<i class="material-icons">invert_colors</i>
	</button>
	<button *ngIf="router.url === '/home' || router.url.indexOf('/hashtag') >= 0" mat-icon-button (click)="_search.reset()">
		<i class="material-icons">loop</i>
	</button>
	<button *ngIf="router.url === '/home' || router.url.indexOf('/hashtag') >= 0" mat-icon-button [matMenuTriggerFor]="searchMenu">
		<i class="material-icons">search</i>
	</button>
	<button *ngIf="router.url.indexOf('/detail') >= 0" mat-icon-button (click)="goBack()">
		<i class="material-icons">navigate_before</i>
	</button>
	<button id="smMenuTrigger" mat-icon-button [matMenuTriggerFor]="rootMenu">
	  <i class="material-icons">menu</i>
	</button>
	<button id="adminMenuTrigger" *ngIf="_user.isLoggedIn()" mat-icon-button [matMenuTriggerFor]="adminMenu">
		<i class="material-icons">build</i>
	</button>
</div>