<div class="wrapper">
	<div class="personalImageWrapper">
		<img class="personalImage" alt="Alberto Caon" title="Alberto Caon" src="https://letscode.es/assets/bebo.png" />
	</div>
	<div class="presentationWrapper">
		<p>
			Soy Alberto Caon, nací en <a class="externalLink casteo" (click)="trackExternalLink('casteo')" href="https://it.wikipedia.org/wiki/Castelfranco_Veneto" target="_blank">Castelfranco Veneto</a> (TV - Italia) el 27 de Agosto 1981. Soy vegetariano desde el 2001. Desde el 2010 vivo en Barcelona con mi mujer Anna, mis dos criaturas Sofia (2014) y Ennio (2017) y la perrita mas buena del mundo Xufa (2012).
		</p>
		<p>
			Soy astrónomo desde el 2009, buddhista desde el 2011, mi nombre en el Sangha es Yasu que en pali significa "tranquilo" en el concepto de la tranquilidad y paz mental. Sigo la tradición Buddhista Tendai, mi templo de referencia es el <a class="externalLink tenryuzanji" (click)="trackExternalLink('tenryuzanji')" href="https://tenryuzanji.org/" target="_blank">TENRYUZANJI</a> de Cinte Tesino (TN - Italia) y mi maestro es el Venerable Seiun.
		</p>
		<p>
			Medito a diario y utilizo las horas de cocina como <a class="externalLink karmayoga" (click)="trackExternalLink('karmayoga')" href="https://en.wikipedia.org/wiki/Karma_yoga" target="_blank">Karma Yoga</a>: cocinando medito concentrándome en la respiración y anclándome en el "aquí y ahora".
		</p>
		<p>
			Siempre he tenido muchas pasiones como los malabares, la magia con cartas, la música, el didjeridou, la lectura, el yoga, el shiatsu y la cocina vegana/vegetariana. 
		</p>
		<p>
			Desde el 2012 me dedico al desarrollo informático. En estos años he trabajado en varias empresas y muchos proyectos. He desarrollado por mi cuenta algunas aplicaciones web como hobby personal, este mismo blog de recetas es uno de los ejemplos.
		</p>
		<p>
			No soy un cocinero profesional pero tengo mucha paciencia, cocinar me calma y me conecta con mi paz interior. Me encanta compartir las tradiciones que conozco, las recetas que encuentro interesantes y los logros de mis experimentos a veces originales.
		</p>
		<p>
			Voy publicando platos con una frecuencia semanal, mi intención es dar alguna nueva idea a los cocineros expertos o principiantes, compartiendo desde recetas elaboradas (<a class="internalLink" (click)="trackHashtagClick('slowfood')" [routerLink]="'/hashtag/slowfood'">#slowfood</a>) hasta platos ricos listos en diez minutos (<a class="internalLink" (click)="trackHashtagClick('prontoindieciminuti')" [routerLink]="'/hashtag/prontoindieciminuti'">#prontoindieciminuti</a>), comida buena y sana (<a class="internalLink" (click)="trackHashtagClick('boisa')" [routerLink]="'/hashtag/boisa'">#boisa</a>) o algo rápido y resultón (<a class="internalLink" (click)="trackHashtagClick('rapidoyresulton')" [routerLink]="'/hashtag/rapidoyresulton'">#rapidoyresulton</a>).
		</p>
		<p>
			Mis recetas incluyen una larga colección de panes (<a class="internalLink" (click)="trackHashtagClick('buonocomeilpane')" [routerLink]="'/hashtag/buonocomeilpane'">#buonocomeilpane</a>), pasta (<a class="internalLink" (click)="trackHashtagClick('aldenteoniente')" [routerLink]="'/hashtag/aldenteoniente'">#aldenteoniente</a>, <a class="internalLink" (click)="trackHashtagClick('pastacasera')" [routerLink]="'/hashtag/pastacasera'">#pastacasera</a>, <a class="internalLink" (click)="trackHashtagClick('lemaniinpasta')" [routerLink]="'/hashtag/lemaniinpasta'">#lemaniinpasta</a>) y pizza (<a class="internalLink" (click)="trackHashtagClick('pazziperlapizza')" [routerLink]="'/hashtag/pazziperlapizza'">#pazziperlapizza</a>).
		</p>
		<p>
			Agrupo los recuerdos de mis momentos en paz y armonía con mis seres queridos en <a class="internalLink" (click)="trackHashtagClick('vivoconamore')" [routerLink]="'/hashtag/vivoconamore'">#vivoconamore</a>, <a class="internalLink" (click)="trackHashtagClick('lobienquenoslomontamos')" [routerLink]="'/hashtag/lobienquenoslomontamos'">#lobienquenoslomontamos</a> y las ocasiones que he tenido de cocinar con mis criaturas en <a class="internalLink" (click)="trackHashtagClick('cuinaramblasofi')" [routerLink]="'/hashtag/cuinaramblasofi'">#cuinaramblasofi</a> e <a class="internalLink" (click)="trackHashtagClick('incucinaconennio')" [routerLink]="'/hashtag/incucinaconennio'">#incucinaconennio</a>.
		</p>
		<p>
			La manera mejor de navegar entre las cientos de recetas ya disponibles es con el buscador de palabras o ingredientes o con los numerosos <a class="internalLink" (click)="trackHashtagClick('listOfAllHashtags')" [routerLink]="'/hashtags'">hashtags</a> presentes entre los ingredientes de las recetas o en el menú principal. Estas selecciones enseñan conjuntos de recetas que tienen "algo" en común.
		</p>
		<p>
			Espero que disfrutéis de este blog y que os sea útil en vuestro día a día.
		</p>
		<p>
			¡Buen provecho!
		</p>
	</div>
</div>