.wrapper
	display: flex
	flex-direction: column

	.personalImageWrapper
		margin: 0 auto 1em
		text-align: center

		.personalImage
			width: 40vw
			max-width: 200px
			height: auto
			border-radius: 50%

@media screen and (min-width: 1024px)
	.wrapper
		display: flex
		flex-direction: row
		
		.personalImageWrapper
			margin: 2em auto
			min-width: 230px
			text-align: left

		.presentationWrapper
			flex-grow: 1