app-post-header
	position: absolute
	width: 100%
	padding: 1vw 0 20%
	margin-top: -1px

	&.whiteBg
		background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0))

	&.blackBg
		background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))