<app-post-header (click)="seePostDetailsEventTracker('ThumbnailHeader')" [class]="bgColor" *ngIf="post" [post]="post" [routerLink]="'/detail/' + post.id"></app-post-header>
<app-post-thumbnail (click)="seePostDetailsEventTracker('ThumbnailImage')" *ngIf="post" [post]="post" [routerLink]="'/detail/' + post.id"></app-post-thumbnail>
<app-views *ngIf="post && post.views && _user.isLoggedIn()" [views]="post.views"></app-views>
<!-- <app-post-footer *ngIf="post" [post]="post"></app-post-footer> -->